{% paginate blog.articles by 30 %}
<div class="l-main__page--blog">
  <div class="l-page--blog">

    <header class="l-page__header--blog" role="banner">
      <h1 class="l-page__heading--blog" >
        <span class="l-page__title">{{ blog.title }}</span>
      </h1>
    </header>
<div class="l-page__intro--blog">
  Bamboo joint supports and muscle sleeves created for exercise, recovery and pain relief.
</div>


  {% comment %}
  Article Previews
  ====================
  {% endcomment %}
    <div class="l-page__thumb-list">
      <div class="l-thumb-list--blog">
        <ul class="l-thumb-list__list--blog">
          {% for item in blog.articles %}
            <li class="l-thumb-list__item--blog">
              <div class="l-thumb-list__thumb">
                {% include 'ac-thumbnail' with modClass : '--blog' %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% if paginate.pages > 1 %}
    <div class="l-page__footer">
      <div class="l-page__pagination">
        {% include 'pagination' %}
      </div>

    </div>
  {% endif %}
  </div>
</div>
{% endpaginate %}
